.login-input-box{
    background-color:white;
    display:flex;
    align-items: center;
    height:40px;
    width:92%;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}

.modal-container{
    border-radius:15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#354052;
    width:500px;
}
.modal-header{
    display:flex;
}
.close{
    margin-left:auto;
    font-size:30px;
    padding:10px;
    cursor:pointer;
}
.login-icon{
    padding-left:20px;
}
.close:hover{
    background-color:rgb(255, 81, 81);
}
.modal-title{
    margin-top:none !important;
    padding-top:15px;
    font-size:30px;
}
.user-login{
    margin-top:10px;
}
.form-title-login{
    margin-top:0;
    margin-bottom:10px;
}
.login-title-box{
    border-bottom:1px solid white !important;
}
.login-title-icon{
    color:white;
    padding-right:10px;
}
.modal-form{
    color:white;
    padding-bottom:15px;
    margin-bottom:40px;
    text-align: center;
    width:75%;
    margin-left:auto;
    margin-right:auto;
    background-color:#354052;
}
.login-input {
    padding-left:10px;
}
.login-button{
    cursor:pointer;
    margin-top:10px;
    width:92%;
    border:none;
    background-color:#428bca;
    height:40px;
    color:white;
    font-size:20px;
}
.login-input-box .material-icons{
    color:grey;
}
.error-box{
    border:1px solid red;
}
.error-icon-hide {
    display:none;    
}
.error-msg {
    margin-left:auto;
    margin-right:auto;
    width:92%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #D8000C;
    background-color: #FFBABA;
  }

    
