*{
    font-family: 'Source Sans Pro';
}
.loading-circle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
}

.container{
    position:fixed;
    height:100%;
    display:flex;
    background-color:#ddd;
    /* background-color:#5F6B7E; */
    width:100%;
}
