h1 {
    text-align: center;
}
.signup-container{
    display:flex;
    justify-content: space-between;
}
.signup-form{
    display:flex;
    flex-direction: column;
}
.signup-button {
    margin-top:10px;
}

input,button {
    height:30px;
    width:200px;
}

.register-container{
    width:400px;
    border:2px solid black;
}
input {
    float:right;
}