 .card{
    background-color:white;
    -moz-box-shadow: 0px 1px 5px 1px #676767;
    -webkit-box-shadow: 0px 1px 5px 1px #676767;
    box-shadow: 0px 1px 5px 1px #676767;
}
.trans-table {
    margin-bottom:50px;
}
.coin-container{
    width:100%;
}
.coin-headers{
    width:100%;
    background-color:#5f6b7e;
    color:white;
    display:flex;
    font-size:20px;
    font-weight: bold;
    align-items: center;
    justify-content: left;
    padding-left:0;
    border-bottom:1px solid black;    
}
p.header {
    margin-top:0;
    margin-bottom:0;
    background-color:#344052;
    color:white;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    padding-bottom:10px;
    border-bottom: 1px solid black;
}
.coin-headers p, .data-row p {
    text-align: right;
    font-weight:bold;
    width:22%;
    padding-left: 10px;
    padding-right:10px;
}
.data-row{
    font-size:18px;
    display:flex;
    align-items: center;
    justify-content: left;
    padding-left:5px;
}
.coin{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.date, .coin, .type,.quantity, .row-quantity{
    border-right:1px solid black;
}
.delete-db-tran{
    color:red;
}
p.delete-record{
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    width:2%;
    padding-top:5px;
    margin-left:10px;
    margin-right:10px;;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    border-bottom:1px solid white;
}
p.delete-record:hover{
    cursor:pointer;
    background-color:hsl(0, 0%, 89%); 
    border-radius: 20%;
 }
.coin-headers .delete-record{
    border:none;
}

p.y {
    font-size:25px;
}
p.subheader {
    background-color:#5f6b7e;
}
.coin-img{
    padding-right:10px;
}
.form-error{
    text-align: center;
    font-size:20px;
    color:red;
} 
p.header.subheader.delete-record:hover{
    cursor: auto;
    background-color:#5f6b7e !important;
}
